body {
  font-size: 20px;
  line-height: 28px;
  font-family: "Courier New", Courier, monospace;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  transition: .1s ease-in;
  outline: none;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.modal-transition-enter {
  opacity: 0;
}
.modal-transition-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}
.modal-transition-exit {
  opacity: 1;
}
.modal-transition-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}