.header {
    font-weight: bold;
}

.row {
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid black;
}

.cell {
    flex: 1;
}

.no-data {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin: 50px;
}