.content {
    padding: 20px 30px;
    border-radius: 20px;
    background-color: antiquewhite;
    margin-bottom: 30px;
}

.title {
  font-size: 26px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
