.title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.save {
    margin-top: 40px;
}

.description {
    margin-bottom: 20px;
}

.types-label {
    margin-bottom: 10px;
}

.types {
    margin-bottom: 20px;
}

.answers {
    max-height: 300px;
    overflow: auto;
    margin-bottom: 20px;
}